<section class="resources-section" id="resource">
  <div class="container ">
    <h2 class="section-title">Resources in Tanzania</h2>
    <div class="row">
      <div class="col">
        <div class="resource-card">
          <img src="../../assets/mt-kilimanjaro.jpg" alt="Mount Kilimanjaro" class="resource-image">
          <h3>Mount Kilimanjaro</h3>
          <p>Mount Kilimanjaro is the highest mountain in Africa and one of Tanzania's iconic landmarks. It attracts adventurers from all around the world to trek to its summit. The mountain is known for its diverse ecosystems, breathtaking views, and the sense of accomplishment that comes with reaching Uhuru Peak.</p>
        </div>
      </div>
      <div class="col">
        <div class="resource-card">
          <img src="../../assets/The-Ngorongoro-crater.jpg" alt="Ngorongoro Conservation Area" class="resource-image">
          <h3>Ngorongoro Conservation Area</h3>
          <p>The Ngorongoro Conservation Area is a UNESCO World Heritage Site and a must-visit destination in Tanzania. It is home to the Ngorongoro Crater, a large volcanic caldera teeming with wildlife, including the Big Five. Visitors can enjoy game drives, witness the annual wildebeest migration, and explore the unique Maasai culture.</p>
        </div>
      </div>
    </div>



  </div>
  <div class="section-divider"></div>
</section>

