<section class="about-section"  id="about">
  <div class="container section-content">
    <h2 class="section-title">About Tanzania</h2>
    <p>Tanzania is a country located in East Africa. It is known for its stunning landscapes, diverse wildlife, and rich cultural heritage. With its vast wilderness areas, including the Serengeti National Park, Mount Kilimanjaro, and the Ngorongoro Conservation Area, Tanzania offers incredible opportunities for wildlife safaris, trekking adventures, and exploration.</p>
    <p>The country is home to various tribes, each with its unique traditions, languages, and customs. Tanzanians are known for their warmth, hospitality, and vibrant festivals. The blend of cultures and ethnicities in Tanzania creates a diverse and vibrant society.</p>
    <p>Whether you're interested in witnessing the Great Migration, climbing Africa's highest peak, or immersing yourself in the local cultures, Tanzania has something to offer for every traveler.</p>
  </div>
  <div class="section-divider"></div>
</section>

