<section class="leader-section"  id="leader">
  <div class="container">
    <h2 class="section-title">Leaders of Tanzania</h2>
    <div class="row">
        <div class="col">
          <div class="leader-card">
            <img src="assets/magufuli.jpg" alt="Leader 1" class="leader-image">
            <h3>John Magufuli</h3>
            <p>John Magufuli was the fifth President of Tanzania, serving from 2015 until his untimely death in 2021. He was known for his anti-corruption stance and efforts to improve infrastructure and economic development in the country.</p>
          </div>

        </div>
        <div class="col">
          <div class="leader-card">
            <img src="assets/mamasamia.jpeg" alt="Leader 2" class="leader-image">
            <h3>Samia Suluhu Hassan</h3>
            <p>Samia Suluhu Hassan became the sixth President of Tanzania following the passing of John Magufuli. She made history as Tanzania's first female president. President Samia has focused on promoting unity, inclusivity, and economic reforms.</p>
          </div>
        </div>
    </div>



  </div>
  <div class="section-divider"></div>
</section>
