<section class="tribes-section">
  <div class="container section-content">
    <h2 class="section-title">Tribes of Tanzania</h2>
    <div class="row">
      <div class="col">

        <div class="tribe-card" id="tribe">
          <img src="assets/tribe1.jpg" alt="Tribe 1" class="tribe-image">
          <h3>Maasai Tribe</h3>
          <p>The Maasai tribe is one of the most well-known ethnic groups in Tanzania. They are known for their vibrant red attire, distinct jewelry, and traditional jumping dance. The Maasai are semi-nomadic pastoralists, renowned for their rich cultural heritage and strong sense of community.</p>
        </div>
      </div>
      <div class="col">
        <div class="tribe-card">
          <img src="assets/tribe2.jpg" alt="Tribe 2" class="tribe-image">
          <h3>Chagga Tribe</h3>
          <p>The Chagga tribe is primarily found around the slopes of Mount Kilimanjaro. They are known for their agricultural practices, including coffee and banana farming. The Chagga people have a rich history, unique language, and traditional practices, making them an important part of Tanzanian culture.</p>
        </div>
      </div>
    </div>



  </div>
  <div class="section-divider"></div>
</section>
